

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

}

h3, #h3login{
    font-family: Arial;
    text-align: center;
    font-weight: 400;
    font-size: 18.5px;
    

}


#image{
    text-align: center;
}

button{
    font-size: 15px;
    background-color: rgba(255, 242, 227, 0.768);
    border-radius: 5px;
    padding: 6px 16px;
}
button:hover{
   background-image: linear-gradient(to right, #9c0d00, #c94600);
}

#container{
        text-align: center auto;
        background-image: linear-gradient(to bottom, #fcc8c8cb, #c29e8b56);
        font-size: 20px;
        margin: 20px auto;
        width: 300px;
        height: 370px;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 0 5px 10px rgba(70, 34, 0, 0.3);  
        
           
}

.hidden{
    display:none;

}
.active{
    display:block;
}

.login-container input[type="text"], .login-container input[type="password"],.login-container input[type="email"]
{
   
    padding: 5px; 
    border-radius: 5px;
    width: 100%; 
    margin: 1px 0;
    box-sizing: border-box;
    font-size: 15px;
    background-color:rgba(255, 242, 227, 0.768);
   
}

.signup-container input[type="text"], .signup-container input[type="password"],.signup-container input[type="email"]
{
    padding: 5px; 
    border-radius: 5px;
    width: 100%; 
    margin: 1px 0;
    box-sizing: border-box;
    font-size: 15px;
    background-color:rgba(255, 242, 227, 0.768);
}









